* {
    margin: 0;
    padding: 0;
}

$buttons-number-colour: #404040;
$buttons-operator-colour: orange;
$buttons-top-colour: lightgrey;
$button-padding: 25px;


.calculator__body {
    display: grid;
   width: 400px;
   height: 600px;
    background-color: black;
}

.calculator__output {
    background-color: darkslategray;
    color: white;
    font-size: 40px;
    padding-top: 40px;
text-align: right;
}

.calculator__body--buttons {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 20% 2fr;


    .calculator__buttons--top{
        display: grid;
        text-align: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
        font-size: 30px;
        color: white;
    
    .button__top--clear{
        background-color: $buttons-top-colour;
                border-radius: 50%;
                padding: $button-padding;

    }
    .button__top--plusminus{
        background-color: $buttons-top-colour;
                border-radius: 50%;
                padding: $button-padding;

    }
    .button__top--percentage{
        background-color: $buttons-top-colour;
                border-radius: 50%;
                padding: $button-padding;
    

    }
    }


 .button__divide{
        background-color: $buttons-operator-colour;
        border-radius: 50%;
        padding: $button-padding;
        font-size: 40px;
        align-items: center;
        text-align: center;

    }




    .calculator__buttons--numbers{
       display: grid;
        text-align: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 5px;
        font-size: 30px;
        color: white;
   
        
               .button__number--9 {
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }

               .button__number--8 {
                background-color: $buttons-number-colour;
                border-radius: 50%; 
                padding: $button-padding;       
    
            }
               .button__number--7{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;
               }
               .button__number--6{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }
               .button__number--5{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }
               .button__number--4{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }
               .button__number--3{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }
               .button__number--2{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }
               .button__number--1{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }

               .button__number--0{
               background-color: $buttons-number-colour;
                border-radius: 25%;
                grid-area: 4/1/5/3;
                padding: $button-padding;
               }
               .button__number--decimal{
                background-color: $buttons-number-colour;
                border-radius: 50%;
                padding: $button-padding;

               }
   
   
    }


    .calculator__buttons--operators{
        display:grid;
        text-align: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-gap: 5px;
        text-align: center;
        font-size: 40px;


   
    .button__multiply{
        background-color: $buttons-operator-colour;
        border-radius: 50%;
        padding: $button-padding;

    }
    .button__subtract{
        background-color: $buttons-operator-colour;
        border-radius: 50%;
        padding: $button-padding;

    }
    .button__add{
        background-color: $buttons-operator-colour;
        border-radius: 50%;
        padding: $button-padding;

    }
    .button__equals{
        background-color: $buttons-operator-colour;
        border-radius: 50%;
        padding: $button-padding;


    }
        
    }

}

@media screen and (max-width: 380px){
    .calculator__body {
        display: grid;
       width: 80%;
     height: 80%;
        background-color: black;
    }

}

