* {
  margin: 0;
  padding: 0;
}

body{
  background: linear-gradient(to right, #00AAFF, #00FF6C)
}

$buttons-number-colour: #404040;
$number-font-colour: #d3d3d3;
$buttons-operator-colour: orange;
$buttons-top-colour: lightgrey;
$button-padding: 25px;
$button-box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
$button-font-size: 20px;


.calculator__body {
  display: grid;
  width: 400px;
  height: 500px;
  background-color: black;

}

.calculator__output {
  background-color: darkslategray;
  color: white;
  font-size: 40px;
  width: 395px;
  padding-top: 40px;
  // text-align:right;
}


.calculator__body--buttons {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 2fr;
 

  .calculator__buttons--top {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    // grid-gap: 5px;
    font-size: 30px;
    color: white;

    .button__top--clear {
      background-color: $buttons-top-colour;
      padding: $button-padding;
      font-size: $button-font-size;
      box-shadow: $button-box-shadow;
    }
    .button__top--plusminus {
      background-color: $buttons-top-colour;
      padding: $button-padding;
      font-size: $button-font-size;
      box-shadow: $button-box-shadow;
    }
    .button__top--percentage {
      background-color: $buttons-top-colour;
      font-size: $button-font-size;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
    }
  }

  #divide {
    background-color: $buttons-operator-colour;
    padding: 20px 40px 20px 39px;
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: $button-box-shadow;
  }

  .calculator__buttons--numbers {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    // grid-gap: 5px;
    font-size: 30px;
    color: white;

    .button__number {
      text-align: center;
      background-color: $buttons-number-colour;
      // border-radius: 50%;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
      font-size: $button-font-size;
      color: $number-font-colour;
    }

    .button__number--0 {
      background-color: $buttons-number-colour;
      display: grid;
      grid-area: 4/1/5/3;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
      font-size: $button-font-size;
      color: $number-font-colour;
    }
    .button__number--decimal {
      background-color: $buttons-number-colour;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
      font-size: $button-font-size;
      color: $number-font-colour;
    }


  }

  .delete {
    background-color: $buttons-number-colour;
    padding: $button-padding;
    box-shadow: $button-box-shadow;
    font-size: $button-font-size;
    color: $number-font-colour;
  }

  .calculator__buttons--operators {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    // grid-gap: 5px;
    text-align: center;
    // font-size: 40px;

 
  }

  .operator__button {
    background-color: $buttons-operator-colour;
    padding: $button-padding;
    font-size: $button-font-size;
    box-shadow: $button-box-shadow;
  }

  .equals__button {
    background-color: $buttons-operator-colour;
    padding: $button-padding;
    // padding-left: 100px;
    font-size: $button-font-size;
    box-shadow: $button-box-shadow;
   
  }

}