* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(34, 29, 39);
}

$buttons-number-colour: #39393A;
$number-font-colour: #d3d3d3;
$buttons-operator-colour: #ff748e;
$buttons-top-colour: #FEEFDD;
$button-padding: 25px;
$button-box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
  inset -2px -2px 3px rgba(0, 0, 0, 0.6);
$button-font-size: 20px;
$button-font-family:'Roboto', sans-serif;


.calculator__body {
  display: grid;
  width: 400px;
  height: 500px;
  background-color: black;

}

.calculator__output {
  display: grid;
  background-color: #50B2C0;
  color: white;
  font-size: 50px;
  width: 395px;
  padding-top: 40px;
  font-family: 'Orbitron', sans-serif;
  
}


.calculator__body--buttons {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 20% 2fr;
 

  .calculator__buttons--top {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    font-size: 30px;
    color: white;
    font-family: $button-font-family;


    .button__top--clear {
      background-color: $buttons-top-colour;
      padding: $button-padding;
      font-size: $button-font-size;
      box-shadow: $button-box-shadow;
      
    }
    .button__top--plusminus {
      background-color: $buttons-top-colour;
      padding: $button-padding;
      font-size: $button-font-size;
      box-shadow: $button-box-shadow;
    }
    #percentage {
      background-color: $buttons-top-colour;
      font-size: $button-font-size;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
    }
  }

  #divide {
    background-color: $buttons-operator-colour;
    padding: 20px 40px 20px 39px;
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    box-shadow: $button-box-shadow;
  }

  .calculator__buttons--numbers {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 30px;
    color: white;

    .button__number {
      text-align: center;
      background-color: $buttons-number-colour;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
      font-size: $button-font-size;
      color: $number-font-colour;
    }

    .button__number--0 {
      background-color: $buttons-number-colour;
      display: grid;
      grid-area: 4/1/5/3;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
      font-size: $button-font-size;
      color: $number-font-colour;
    }
    .button__number--decimal {
      background-color: $buttons-number-colour;
      padding: $button-padding;
      box-shadow: $button-box-shadow;
      font-size: $button-font-size;
      color: $number-font-colour;
    }


  }

  .delete {
    background-color: $buttons-number-colour;
    padding: $button-padding;
    box-shadow: $button-box-shadow;
    font-size: $button-font-size;
    color: $number-font-colour;
  }

  .calculator__buttons--operators {
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;

 
  }

  .operator__button {
    background-color: $buttons-operator-colour;
    padding: $button-padding;
    font-size: $button-font-size;
    box-shadow: $button-box-shadow;
 
  }

  .equals__button {
    background-color: $buttons-operator-colour;
    padding: $button-padding;
    font-size: $button-font-size;
    box-shadow: $button-box-shadow;
  
   
  }

  button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .button__number:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  #divide:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .button__top--plusminus:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }

  .button__top--clear:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
  #percentage:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
  }
 
}



